.button
  width: 207px
  height: 51px
  border: none
  border-radius: 2px
  text-transform: uppercase
  &:hover
    color: $dark
    background-color: $light
    cursor: pointer
    box-shadow: 0px 5px 15px rgba($light, 0.3)
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0px 5px 15px rgba($primary, 0.3)
    transition: box-shadow 0.2s
    &:hover
      box-shadow: none
      box-shadow: 0px 5px 15px rgba($light, 0.3)
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light
.label
  &--light
    color: rgba($light, 0.5)
    font-size: 1.07rem
    font-weight: normal
.input
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba(54, 54, 54, 0.3)
  font-size: 1.285rem
  color: $light
  padding: 0.5rem 0
  &::placeholder
    color: $light
    font-weight: normal
.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    &:checked +
      .policy__label
        &::before
          background: $primary url('../img/check.svg') no-repeat center / 0.8rem
  &__label
    display: flex
    align-items: center
    &::before
      content: ''
      width: 18px
      height: 18px
      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer
      margin-right: 0.64rem
